body{
  height: 100%;
  background-color: #84828F;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #F0F7F4;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin: 10px;
}

button{
  background-color:#EB5160;
  color: white;
  border: none;
  font-family: 'Raleway', sans-serif;
  height: 30px;
  padding: 10px;
  display: table;
  margin: 10px auto
}

.close-btn {
  margin-top: 50px;
}

.delete-btn {
  background-color: transparent;
}

.garage-item{
  margin-top: 10px;
  text-align: center;
}

.items-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #F0F7F4;
}

.add-items {
  display: flex;
  justify-content: center;
}

.lengths {
  display: inline-block;
  color: #32292F;
  font-size: 13px;
  margin: 5px;
}

.array-list {
  display: flex;
  justify-content: center;
}

.name-input, .whyItStays-input {
  margin-right: 5px;
}

.items-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.garage-item {
  margin: 5px;
  color: #F0F7F4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 12px;
  border: 2px solid #F0F7F4;
  width: 150px;
  height: 150px;
}

.cleanliness-text, .item-info {
  color: #32292F;
}


/*
#32292F
#C1DBE3
#F0F7F4
#EB5160
#84828F
*/
